// Import Bootstrap (via gem)
@import "bootstrap";

// Import spotify theme partial
@import "partials/default-theme";

@import "mood_explorer";
@import "mood_analysis";
@import "wrapped";


// Additional global overrides can go here
.flash-div {
    position: absolute;
    top: 30px;
    width: 100vw;
    font-size: 22px;
}

.nav-bar-logo {
    object-fit: cover;
    height: 50px;
}

.spotify-nav .nav-logo {
  color: $light-gray;
  font-weight: 500;
  text-decoration: none;
  margin-right: 10px;

  &.active {
    color: $spotify-green;
    border-bottom: 2px solid $spotify-green;
  }

  &:hover {
    color: $spotify-green;
    background-color: $medium-gray;
    border-radius: 4px 4px 0 0;
  }
}

.refresh-button {
  color: white;
  background-color: $spotify-green;
  font-weight: 400;
  text-decoration: none !important;
  height: 30px;
  width: 105px;
  border: solid;
  border-width: 1px;
  border-radius: 8px;
  border-color: $spotify-green;
  margin-top: 10px;
  text-align: center;
  line-height: 30px;
  margin-right: 10px;
}

.refresh-button:hover {
  color: $spotify-green;
  background-color: white;
  text-decoration: none !important;
}

.navbar-search-form {
  margin-left: auto;
  margin-right: auto;
}

.navbar-search-input {
  width: 260px;
  padding: 8px 16px;
  border-radius: 9999px; // makes it oval
  border: 1px solid #ccc;
  background-color: #f7f7f7;
  outline: none;
  transition: all 0.2s ease;

  &:focus {
    border-color: #1db954; // Spotify green
    box-shadow: 0 0 0 3px rgba(29, 185, 84, 0.3);
    background-color: #fff;
  }
}

.genre-table {
  width: 100%;
  background: #181818;
  border-radius: 10px;
  margin-top: 20px;
  padding: 15px;
}

.genre-table th,
.genre-table td {
  padding: 10px;
  text-align: left;
}

.genre-table th {
  color: #1db954;
  font-size: 16px;
}

.genre-table tr:nth-child(even) {
  background: #202020;
}

.genre-table td {
  font-size: 14px;
}

